{% extends "layout.html" %}

{% macro badge(request) %}
  {% set info = request.badgeInfo %}
  <div style="border: 1px dotted gray; padding: 4px">
  <img src="{{ info.structures.badge.image }}" width="90">
  <p><strong>{{ info.structures.badge.name }}</strong></p>
  <p>Issued by <a href="{{ info.structures.issuer.url }}" rel="nofollow">{{ info.structures.issuer.url }}</a></p>
  {% if request.canBeAccepted %}
    <input type="hidden" name="assertion-{{ info.guid }}" value="{{ request.urlOrSignature }}">
    <label><input type="checkbox" name="accept-{{ info.guid }}"> Accept</label>
  {% endif %}
  </div>
{% endmacro %}

{% block content %}

{% if email %}
  {% if requests.pending.length %}
    <p>Here are badges that you can accept.</p>

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% for request in requests.pending %}
        {{ badge(request) }}
      {% endfor %}
      <input type="submit" value="Accept Selected Badges">
    <form>
  {% endif %}

  {% if requests.inBackpack.length %}
    <p>The following badges are already in your backpack.</p>

    {% for request in requests.inBackpack %}
      {{ badge(request) }}
    {% endfor %}
  {% endif %}

  {% if requests.mismatched.length %}
    <p>The following badges are not issued to you ({{email}}).</p>

    {% for request in requests.mismatched %}
      {{ badge(request) }}
    {% endfor %}
  {% endif %}

  {% if requests.accepted.length %}
    <p>Hooray! The following badges have just been added to your backpack.</p>

    {% for request in requests.accepted %}
      {{ badge(request) }}
    {% endfor %}
  {% endif %}
{% else %}
  <p>Please log in so you can receive the following badges.</p>

  {% for request in requests.valid %}
    {{ badge(request) }}
  {% endfor %}
{% endif %}

{% if requests.invalid.length %}
  <p>The following errors occurred while processing incoming badges.</p>

  <ol>
  {% for request in requests.invalid %}
    <li>
      <p>The badge <code>{{ request.urlOrSignature }}</code> was deemed
        invalid for the following reason:</p>
      <pre>{{ request.error }}</pre>
    </li>
  {% endfor %}
  </ol>
{% endif %}

{% endblock %}
