{% extends "layout.html" %}

{% macro badge(request) %}
  {% set info = request.badgeInfo %}
  <div style="border: 1px dotted gray; padding: 4px">
  <img src="{{ info.structures.badge.image }}" width="90">
  <p><strong>{{ info.structures.badge.name }}</strong></p>
  <p>Issued by <a href="{{ info.structures.issuer.url }}" rel="nofollow">{{ info.structures.issuer.url }}</a></p>
  {% if request.canBeAccepted %}
    <input type="hidden" name="assertion-{{ info.guid }}" value="{{ request.urlOrSignature }}">
    <label><input type="checkbox" name="accept-{{ info.guid }}"> Accept</label>
  {% endif %}
  </div>
{% endmacro %}

{% block content %}

{% if email %}
  {% if requests.length %}
    <p>Here are badges that you can accept.</p>

    <form method="POST">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      {% for request in requests %}
        {% if request.canBeAccepted %}
          {{ badge(request) }}
        {% endif %}
      {% endfor %}
      <input type="submit" value="Accept Selected Badges">
    <form>

    <p>The following badges are already in your backpack.</p>

    {% for request in requests %}
      {% if request.result == "exists" %}
        {{ badge(request) }}
      {% endif %}
    {% endfor %}

    <p>The following badges are not issued to you ({{email}}).</p>

    {% for request in requests %}
      {% if request.result == "recipient_mismatch" %}
        {{ badge(request) }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if acceptedRequests.length %}
    <p>Hooray! The following badges have just been added to your backpack.</p>

    {% for request in acceptedRequests %}
      {% if request.result == "accepted" %}
        {{ badge(request) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <p>Please log in so you can receive the following badges.</p>

  {% for request in requests %}
    {% if request.badgeInfo %}
      {{ badge(request) }}
    {% endif %}
  {% endfor %}
{% endif %}

{% if requests.length %}
  <p>The following errors occurred while processing incoming badges.</p>

  <ol>
  {% for request in requests %}
    {% if request.result == "invalid" %}
      <li>
        <p>The badge <code>{{ request.urlOrSignature }}</code> was deemed invalid for the following reason:</p>
        <pre>{{ request.error }}</pre>
      </li>
    {% endif %}
  {% endfor %}
  </ol>
{% endif %}

{% endblock %}
